header {
  background-color: black;
  background-image: url("../../assets//stars.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column; /* Change flex-direction to column */
  justify-content: center;
  align-items: center;
}

.start {
  font-family: "Rowdies";
  font-size: 90px;
  font-weight: 400;
  color: #4980c0;
  text-align: center;
  margin-top: 20px; /* Adjust the spacing between form and start */
}

.form {
  width: 164px;
  height: 166px;
  margin-bottom: 20px; /* Adjust the spacing between form and start */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  color: white;
  background-color: #4980c0;
  width: 200px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
